* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.movieReviewCard {
  display: grid; 
  grid-template-columns: 10% 10% 10% 10% 20% 10% 30%;
  justify-content: center;
  align-items: center;
  border: solid;
  margin-bottom: 10px;
}

.movieReviewCard img {
  width: 50%;
  height: auto;
}

.episodeReviewCard {
  display: grid; 
  grid-template-columns: 10% 10% 10% 10% 20% 10% 30%;
  justify-content: center;
  align-items: center;
  border: solid;
  margin-bottom: 10px;
}

.episodeReviewCard img {
  width: 50%;
  height: auto;
}